.window-header-skills {
    background: #92A4D8 !important;
    backdrop-filter: none !important;
}

.window-display-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../../../../assets/blur-circles/purple.png") repeat 200px 80%,
        url("../../../../assets/blur-circles/blue.png") repeat -250px 20%,
        url("../../../../assets/blur-circles/aqua.png") repeat 280px 30%,
        url("../../../../assets/blur-circles/pink.png") repeat -250px 80%;
    background-size: 100%, 100%, 100%, 100%;
    background-color: #889ACA;
    width: 100%;
    height: 100%;
    position: relative;


    .skills-list {
        list-style: none;
        display: grid;
        align-content: flex-start;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
        height: 90%;
        overflow-y: scroll;

        @media (min-width: 768px) and (max-width: 1365px) {
            width: 55%;
        }

        @media (max-width: 767px) {
            width: 95%;
        }

        .skills-list-item {
            width: 130px;
            height: 180px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            @media (min-width: 768px) and (max-width: 1365px) {
                width: 100%;
                height: 250px;
            }

            @media (max-width: 767px) {
                width: 100%;
                height: 200px;
            }

            .skills-list-text {
                font-family: Questrial;
                color: #ffffff;
            }

            .skills-list-image {
                width: 70%;
                height: auto;
            }
        }

        .skills-list-item::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 5px;
            border: 1px solid transparent;
            background: linear-gradient(to right, #889ACA, #ffffff, #889ACA) border-box;
            -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
        }

        .skills-list-item::after {
            content: "";
            background: rgba(0, 0, 0, 0.01);
            filter: blur(20px);
            position: absolute;
            min-width: 90px;
            min-height: 120px;
            z-index: -1;
        }



    }
}