.nav-skills-window {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .nav-list-skills-window {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.7rem;
        width: 100%;

        .nav-list-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.1rem;
            width: 15%;
            padding-bottom: 0.2rem;
            transition: border-bottom 0.3s ease-out;

            @media (max-width: 1365px) {
                width: 33%;
            }

            .nav-list-icon {
                width: 20%;
                height: auto;
                transition: color 0.3s ease-out;
            }

            .nav-list-text {
                font-family: Questrial;
                color: #ffffff;
            }
        }

        .bottom-border-active{
            border-bottom: 3px #ffffff solid;
        }

        .bottom-border-disabled{
            border-bottom: 3px #BBCDFF solid;
        }

        .icon-color-active{
            color: white;
        }
        .icon-color-disabled{
            color: #BBCDFF;
        }
    }
}