.window-header {
    width: 100%;
    height: 40px;
    background: rgba(39, 45, 65, 0.95);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .window_header-infos {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        @media (max-width: 1365px) {
            width: 50%;
        }

        .icon-window_header {
            margin: 0 0.5rem;
            width: 30px;
            height: auto;
        }

        .name-window {
            font-size: 1rem;
            font-family: Questrial;
            color: #ffffff;
        }
    }

    .window-controls {
        width: 15%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        @media (max-width: 1365px) {
            width: 30%;
        }

        .window_controls-icon {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #ffffff;
        }
    }
}