.diagonal-hitbox-size {
    background-color: none;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 2;
    user-select: none;
}

.top-left {
    left: 0;
    top: 0;
}

.top-right {
    right: 0;
    top: 0;
}

.bottom-left {
    left: 0;
    bottom: 0;
}

.bottom-right {
    right: 0;
    bottom: 0;
}

.top-left,
.bottom-right:hover {
    cursor: se-resize;
}
.top-right,
.bottom-left:hover {
    cursor: sw-resize;
}