.container{
  width: 100vw;
  height: 100vh;
  background-color: #23252A;
  position: relative;
}
.container:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/background.png");
}
.container:after{
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(35, 37, 42, 0.00) 0%, #23252A 20.33%, #23252A 80.83%, rgba(35, 37, 42, 0.00) 100%);
}